     #map { 
        position:absolute; top:0; right:0; width:100%;z-index:-1;
      }  

      .marker-popup h1{
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 800;
      } 

      .marker-popup p {
        font-size: 12px;
        font-family: sans-serif;
        font-weight: 200;
      }
      .marker-popup a{
        text-decoration: none;
        color: #ff00b1;
      }
      .marker-popup{
        -moz-border-radius: 10%;
        border-radius: 10%;
        min-width: 300px;
      
      }
      .marker-tooltip{
      }

#key{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 15px;
  margin: 10px;
  width: 25%;
  max-height: 75%
  overflow: auto;
  background-color: white;
  border: 1px solid #ff00b1;
  -moz-box-shadow: 5px 5px 5px #ff00b1;
  -webkit-box-shadow: 5px 5px 5px #ff00b1;
  box-shadow: 5px 5px 5px #ff00b1;
}
#key h1{
  color: #ff00b1;
  font-weight: 800;
  font-size: 2em;
}

#key ol {
  list-style-type: upper-alpha;
}
#key li{
  font-size: 1em;
  text-transform: none;
}
#key li a {
  font-size: 1.1em;
  text-transform: none;
}
#key a{
  color: #ff00b1;
  font-weight: 800;
  text-decoration: none;
}
